**1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.**
* 
'hello'
-87.8
- 
/ 
+
6

**Answer :** <br>
Values : 'hello', -87.8,6<br>
Expression : -,/,+,*

**2. What is the difference between string and variable?**
**Answer :** 

* String is a datatype which store character values, mainly text data rather than numbers.strings is enclosed in quotation marks.<br>

* Variable is a place holder which can store some quanity or data of type string,int,char,float etc

**3. Describe three different data types.**

**Answer:**
*   *String* is a datatype which store character values, mainly text data
*   integer which mainly stores number
* float store decimals numbers

**4. What is an expression made up of? What do all expressions do?** <br>
**Answer:**
Expression is a combination of variables, operations and values that yields a result value.
+,-,/,% are different operators that are used in expression

**5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?**

**Answer :**
An expression translates to a value.

A statement consumes a value to produce a result.

**6. After running the following code, what does the variable bacon contain?**

In [3]:
bacon = 22
bacon + 1

23

**7. What should the values of the following two terms be?**

In [5]:
'spam' + 'spamspam'

'spamspamspam'

In [6]:
'spam' * 3

'spamspamspam'

**8. Why is eggs a valid variable name while 100 is invalid?** <br>
**Answer :** <br>
Egg is not a reserved keyword in python programming language so its a valid variable name

while 100 is a numeric values and variable name cannot be a number.

**9. What three functions can be used to get the integer, floating-point number, or string version of a value?** <br>
**Answer:**
int(), float(), and str()

**10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'**

In [7]:
'I have eaten ' + 99 + ' burritos.'

TypeError: ignored

In [8]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'